body{
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(245, 243, 247);
}

.titulo {
    font-family: monospace;
    color: black;
}

.subtitulo {
    font-family: monospace;
}
